/* Baru */

.pg1 {
    background-image: url(../img/pg1.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    width: 100% !important;
    height: 105vh !important;
    padding-top: 4vw !important;
}

.pg1a {
    background-image: url(../img/proses.gif) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    width: 100% !important;
    height: 105vh !important;
    padding-top: 4vw !important;
}

.pg {
    background-image: url(../img/p.gif) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    width: 100% !important;
    height: 103vh !important;
    padding: 32px;
    padding-top: 93vw !important;
}

.pg3 {
    background-image: url(../img/pg3.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    width: 100% !important;
    padding-top: 20px !important;
    height: 105vh !important;
}

.pg2 {
    background-image: url(../img/pg2.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    width: 100% !important;
    padding-top: 62vw !important;
    padding: 14px !important;
    height: 105vh !important;
}

.pg4 {
    background-image: url(../img/pg4.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    width: 100% !important;
    padding-top: 102px !important;
    padding: 30px !important;
    height: 105vh !important;
}

.pg5 {
    background-image: url(../img/pg5.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    width: 100% !important;
    padding-top: 102px !important;
    padding: 30px !important;
    height: 105vh !important;
}

form {
    padding: 33px !important;
    margin-top: 11vw;
}

.form1 {
    padding: 33px !important;
    margin-top: 19vw;
}

label {
    opacity: 0.7 !important;
}

input,
select {
    margin-bottom: 5px !important;
    width: 100% !important;
    height: 46px !important;
    border:  !important;
    border-color: #00ddff;
    box-shadow: 2px 2px 8px rgb(4 4 4 / 12%);
    padding: 10px;
    border-bottom: -9px #c308e3 !important;
    border-radius: 5px;
}

input:focus,
select:focus {
    outline: 1px solid rgb(3, 216, 239);
}

button {
    width: 100% !important;
    height: 54px !important;
    border-radius: 37px !important;
    border: none !important;
    background-color: #f7aa1f !important;
    font-size: 20px;
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
    margin-top: 12px !important;
}

.buttonin {
    width: 100% !important;
    height: 154px !important;
    border-radius: 37px !important;
    border: none !important;
    background-color: #f7ac1f00 !important;
    font-size: 20px;
    color: rgba(255, 255, 255, 0) !important;
    opacity: 1 !important;
    margin-top: 60vw !important;
}

.button2 {
    width: 100% !important;
    height: 54px !important;
    border-radius: 37px !important;
    border: none !important;
    background-color: #f7ac1f00 !important;
    font-size: 20px;
    color: rgba(255, 255, 255, 0) !important;
    opacity: 1 !important;
    margin-top: 12px !important;
}

.warn {
    background-color: rgba(247, 187, 46, 0) !important;
    color: rgb(254, 254, 254) !important;
    font-size: 16px !important;
    padding: 7px !important;
    height: 160px;
    text-align: center !important;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.13) !important;
}

.py-3 {
    opacity: 0.9 !important;
    color: #54057b !important;
}

.okok {
    height: 123px !important;
    font-size: 20px;
    background-image: url(../img/1.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    width: 100% !important;
}

.modal-content {
    padding: 10px;
}

.okok1 {
    height: 123px !important;
    font-size: 20px;
    background-color: transparent;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    width: 100% !important;
}

.sms {
    width: 100px !important;
    margin-top: 30px;
}

.wa {
    display: block;
    position: relative;
    right: 0;
    left: 39px;
    top: 0vw;
    width: 90%;
    height: 51px;
    background-color: #a011dd;
    background-size: 80%;
    background-repeat: no-repeat;
    width: 100%;
}

.ipt {
    position: relative;
    padding-left: ;
    border-radius: 7px;
    height: 40px;
    border: #1A202C;
    margin-bottom: 38px;
    padding-bottom: 79px;
}

.icon-login {
    position: absolute;
    top: 8px;
    left: 18px;
}

.ipt {
    position: relative;
    padding-left: ;
    border-radius: 7px;
    height: 40px;
    border: #1A202C;
    margin-bottom: 38px;
    padding-bottom: 79px;
}

.loading-halaman::before {
    content: " ";
    display: block;
    position: fixed;
    z-index: 10;
    height: 2px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1a73e8;
    -webkit-animation: load-halaman infinite ease-out 2s;
    animation: load-halaman infinite ease-out 2s;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

@-webkit-keyframes load-halaman {
    from {
        background-color: #ffc422;
    }
    to {
        background-color: #c0392b;
    }
}

@keyframes load-halaman {
    from {
        background-color: #ffc422;
    }
    to {
        background-color: #c0392b;
    }
}

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.no-loading {
    display: none;
}

/* Baru */

/* 
.App {
  padding: 60px 20px;
}

.App-tlp {
  width: 100%;
  height: 100vh;
  background-image: url(../img/tlp.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.fbaru {
  box-shadow: none;
  padding: 57px;
  padding-top: 126vw;
}

.App-v2 {
  padding: 20px;
}
.disdis {
  position: relative;
}

.disdis::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.App-v3 {
  padding: 20px;
  background-color: rgb(14, 120, 202);
  height: 100vh;
}

.App-v4 {
  padding: 20px;
  background-color: rgb(222, 231, 238);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  color: rgb(14, 120, 202);
  margin-bottom: 10px;
}

p {
  font-weight: 600;
  font-size: 20px;
  color: #1a202c;
}

.p2 {
  font-size: 18px;
  color: white;
  margin-top: 7px;
  font-weight: 400;
}

.p3 {
  font-size: 12px;
  margin-top: 15px;
  font-weight: 700;
}

.p4 {
  font-size: 13px;
  margin-top: 15px;
  font-weight: 700;
}

.btn-container {
  margin-top: 17vh;
  text-align: center;
  width: 100%;
}

button {
  width: 100%;
  border: none;
  background-color: rgb(14, 120, 202);
  color: white;
  height: 48px;
  font-weight: bold;
  border-radius: 6px;
}

.btn-disable {
  background-color: rgb(99, 166, 221);
}

.btn-non {
  display: block;
  margin-top: 18px;
  color: rgb(14, 120, 202);
  font-weight: bold;
}

.bg {
  background-image: url(../img/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
}

h2 {
  color: white;
}

h3 {
  color: white;
}

.login-img {
  width: 76%;
}

form {
  width: 100%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
}

hr {
  border: 0.2px solid rgb(233, 233, 233);
}

input:focus {
  outline: none;
} 

.icon-login {
  position: absolute;
  top: 18px;
  left: 18px;
}

.ipt {
  position: relative;
  padding-left: 50px;
  height: 60px;
}

h4 {
  color: #1A202C;
  margin-top: 8px;
  text-align: right;
}

.container-btn {
  width: 100%;
  padding: 0px 15px;
  position: absolute;
  bottom: 40px;
}

.arr {
  width: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.btn-row {
  display: flex;
  justify-content: space-evenly;
}

.btn-num {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: white;
  font-size: 2em;
  font-weight: 500;
  border-radius: 50%;
}

.btn-num:active {
  background-color: rgb(99, 166, 221);
}

.disable:active {
  background-color: rgb(14, 120, 202) !important;
}

.pin {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
}

.code {
  width: 48px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  background-color: rgb(99, 166, 221);
  color: white;
  font-size: 2em;
  font-weight: 500;
  border-radius: 8px;
}

.box {
  width: 94%;
  height: 470px;
  background-color: white;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: relative;
  padding: 20px;
}

.txt1 {
  font-size: 12px;
}

.txtin {
  opacity: .7;
}

.sms {
  width: 100px !important;
  margin-top: -70px;
}

.intxt {
  width: 100%;
  height: 120px;
  border: 1px solid rgb(14, 120, 202);
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
}

.loading {
  position: fixed;
  top: 0;bottom: 0;left: 0;right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.no-loading {
  display: none;
}

.eye {
  width: 65px;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

.btn-fp {
  width: 20%;
}

.btn-fs {
  width: 77%;
}

.dp {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 565px;
  left: 0;
}

.inierr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 13px;
  animation: klip 1s infinite;
  display: none;
}

.errbgt {
  display: block;
}

@keyframes klip {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blokir-cuk {
  position: fixed;
  background-color: white;
  top: 0;left: 0;right: 0;bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 54px;
} */